body {
    overflow: hidden;
}
.container {
    /* min-width: 50%; */
    max-height: 400px;
    overflow: scroll;
}
table {
    table-layout: fixed;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1;

}
thead th{
    z-index: 1;
}
th {
    position: sticky;
    left: 0;
    background-color: burlywood;
    
}

.st {
    
    background-color: brown;
}
td {
    background-color: wheat;
    padding: 20px 60px;
}


